@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap");
.nice-select {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px #e8e8e8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  height: 42px;
  line-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  width: auto;
}

.nice-select:hover {
  border-color: #dbdbdb;
}

.nice-select:active, .nice-select.open, .nice-select:focus {
  border-color: #999;
}

.nice-select:after {
  border-bottom: 2px solid #999;
  border-right: 2px solid #999;
  content: '';
  display: block;
  height: 5px;
  margin-top: -4px;
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform-origin: 66% 66%;
          transform-origin: 66% 66%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  width: 5px;
}

.nice-select.open:after {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.nice-select.open .list {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale(1) translateY(0);
          transform: scale(1) translateY(0);
}

.nice-select.disabled {
  border-color: #ededed;
  color: #999;
  pointer-events: none;
}

.nice-select.disabled:after {
  border-color: #cccccc;
}

.nice-select.wide {
  width: 100%;
}

.nice-select.wide .list {
  left: 0 !important;
  right: 0 !important;
}

.nice-select.right {
  float: right;
}

.nice-select.right .list {
  left: auto;
  right: 0;
}

.nice-select.small {
  font-size: 12px;
  height: 36px;
  line-height: 34px;
}

.nice-select.small:after {
  height: 4px;
  width: 4px;
}

.nice-select.small .option {
  line-height: 34px;
  min-height: 34px;
}

.nice-select .list {
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
          box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 4px;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  -webkit-transform: scale(0.75) translateY(-21px);
          transform: scale(0.75) translateY(-21px);
  -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  z-index: 9;
}

.nice-select .list:hover .option:not(:hover) {
  background-color: transparent !important;
}

.nice-select .option {
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  list-style: none;
  min-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 29px;
  text-align: left;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
  background-color: #f6f6f6;
}

.nice-select .option.selected {
  font-weight: bold;
}

.nice-select .option.disabled {
  background-color: transparent;
  color: #999;
  cursor: default;
}

.no-csspointerevents .nice-select .list {
  display: none;
}

.no-csspointerevents .nice-select.open .list {
  display: block;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/OpenSans-Regular.ttf);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat' !important;
  font-weight: 500;
  color: #2e3e61;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  color: #989a9e;
  background: #f4f4f6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  font-weight: 300;
}

a {
  text-decoration: none !important;
  list-style: none !important;
  outline: none;
}

.form-control:focus {
  background-color: transparent;
  border-color: none;
  outline: 0;
  -webkit-box-shadow: 0;
          box-shadow: 0;
}

.item-novo {
  color: #601f25;
  font-weight: 500;
}

.item-novo > i {
  position: relative;
  font-size: 20px;
  top: 3px;
  right: 3px;
}

.btn.focus, .btn:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.btn-buscar {
  opacity: 0.7;
  background: #499ED0;
  border-color: #499ED0;
  color: #fff;
  border-radius: 100px;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
  width: 120px;
  height: 40px;
  letter-spacing: 2px;
}

.btn-buscar:hover {
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
  color: #fff;
  opacity: 1;
  background: #499ED0;
  border-color: #499ED0;
  border-radius: 100px;
  letter-spacing: 2px;
}

.btn-incluir {
  opacity: 0.7;
  background: #11C25D;
  border-color: #11C25D;
  color: #fff;
  border-radius: 100px;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
  width: 120px;
  height: 40px;
  margin-right: 10px;
  letter-spacing: 2px;
}

.btn-incluir:hover {
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
  color: #fff;
  opacity: 1;
  background: #11C25D;
  border-color: #11C25D;
  border-radius: 100px;
}

.btn-confirmar {
  opacity: 0.7;
  background: #11C25D;
  border-color: #11C25D;
  color: #fff;
  border-radius: 100px;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
  width: 256px;
  height: 40px;
  margin-right: 10px;
  letter-spacing: 2px;
}

.btn-confirmar:hover {
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
  color: #fff;
  opacity: 1;
  background: #11C25D;
  border-color: #11C25D;
  border-radius: 100px;
}

.btn-cancelar {
  opacity: 0.7;
  background: transparent;
  border-color: #989a9e;
  color: #989a9e;
  border-radius: 100px;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
  width: 120px;
  height: 40px;
  letter-spacing: 2px;
}

.btn-cancelar:hover {
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
  color: #fff;
  opacity: 1;
  background: #4d4e53;
  border-color: #4d4e53;
  border-radius: 100px;
}

.btn-excluir {
  opacity: 0.7;
  background: #e60935;
  border-color: #e60935;
  color: #fff;
  border-radius: 100px;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
  width: 120px;
  height: 40px;
  letter-spacing: 2px;
}

.btn-excluir:hover {
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
  color: #fff;
  opacity: 1;
  background: #e60935;
  border-color: #e60935;
  border-radius: 100px;
}

.btn-recusar-lote {
  opacity: 0.7;
  background: #e60935;
  border-color: #e60935;
  color: #fff;
  border-radius: 100px;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
  width: 190px;
  height: 40px;
  letter-spacing: 2px;
}

.btn-recusar-lote:hover {
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
  color: #fff;
  opacity: 1;
  background: #e60935;
  border-color: #e60935;
  border-radius: 100px;
}

.btn-aprovar-lote {
  opacity: 0.7;
  background: #11C25D;
  border-color: #11C25D;
  color: #fff;
  border-radius: 100px;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
  width: 190px;
  height: 40px;
  margin-right: 10px;
  letter-spacing: 2px;
}

.btn-aprovar-lote:hover {
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
  color: #fff;
  opacity: 1;
  background: #11C25D;
  border-color: #11C25D;
  border-radius: 100px;
}

.btns-opcoes > div > .btn {
  float: right;
  letter-spacing: 2px;
}

.btns-opcoes > div > .btn:nth-child(1) {
  float: left;
}

::-webkit-scrollbar-track {
  background-color: #dad7d7;
}

::-webkit-scrollbar {
  width: 6px;
  background: #dad7d7;
}

::-webkit-scrollbar-thumb {
  background: #212e4b;
}

.modal {
  max-width: 1100px !important;
}

.loading {
  position: fixed;
  z-index: 9999999999;
  background: rgba(33, 46, 75, 0.9);
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.load-wrapp {
  position: relative;
  width: 100%;
  height: 100vh;
  top: 30%;
  padding: 20px 20px 20px;
  border-radius: 5px;
  text-align: center;
}

.line {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #499ED0;
}

.load-1 .line:nth-last-child(1) {
  -webkit-animation: loadingA 1.5s 1s infinite;
          animation: loadingA 1.5s 1s infinite;
}

.load-1 .line:nth-last-child(2) {
  -webkit-animation: loadingA 1.5s .5s infinite;
          animation: loadingA 1.5s .5s infinite;
}

.load-1 .line:nth-last-child(3) {
  -webkit-animation: loadingA 1.5s 0s infinite;
          animation: loadingA 1.5s 0s infinite;
}

@-webkit-keyframes loadingA {
  0% {
    height: 15px;
  }
  50% {
    height: 35px;
  }
  100% {
    height: 15px;
  }
}

@keyframes loadingA {
  0% {
    height: 15px;
  }
  50% {
    height: 35px;
  }
  100% {
    height: 15px;
  }
}

.load-wrapp > p {
  font-size: 20px;
  color: #fff;
  margin-top: 10px;
  letter-spacing: 5px;
  text-transform: uppercase;
  -webkit-animation: loadingTxt 1.5s 1s infinite;
          animation: loadingTxt 1.5s 1s infinite;
}

@-webkit-keyframes loadingTxt {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loadingTxt {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.load-wrapp > p > span.p1, .load-wrapp > p > span.p2, .load-wrapp > p > span.p3 {
  position: relative;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
}

.load-wrapp > p > span.p2 {
  left: -10px;
  -webkit-animation: loadingSpan 1.5s 1s infinite;
          animation: loadingSpan 1.5s 1s infinite;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
}

.load-wrapp > p > span.p3 {
  left: -10px;
  -webkit-animation: loadingSpan3 1.8s 1s infinite;
          animation: loadingSpan3 1.8s 1s infinite;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
}

@-webkit-keyframes loadingSpan {
  0% {
    left: -10px;
  }
  50% {
    left: 0;
  }
  100% {
    left: 0;
  }
}

@keyframes loadingSpan {
  0% {
    left: -10px;
  }
  50% {
    left: 0;
  }
  100% {
    left: 0;
  }
}

@-webkit-keyframes loadingSpan3 {
  0% {
    left: -10px;
  }
  50% {
    left: 0;
  }
  100% {
    left: 0;
    opacity: 0;
  }
}

@keyframes loadingSpan3 {
  0% {
    left: -10px;
  }
  50% {
    left: 0;
  }
  100% {
    left: 0;
    opacity: 0;
  }
}

.breadcrumb {
  background: #fafafa;
  padding: 6px;
  font-size: 14px;
  margin-bottom: 25px;
}

#msg-inclusao > div > div > div > p {
  margin: 0 0 0 40px;
  font-weight: 500;
}

#msg-cadastro > div > div > div > p {
  margin: 0 0 0 40px;
  font-weight: 500;
}

#msg-input-error > div > div > div > p {
  margin: 0 0 0 40px;
  font-weight: 500;
}

.btn-close {
  float: right;
  cursor: pointer;
  background: transparent;
  border: none;
  -webkit-border: none;
  -moz-border: none;
  padding: 0;
}

.btn-close > img {
  width: 19px;
  height: 16px;
}

.focus-erro > label {
  border-bottom: 2px solid #cc092f !important;
}

.focus-erro > label > span, .focus-erro > input {
  color: #cc092f !important;
}

.sub-title {
  background: #f9f7f7;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.sub-title > h6 {
  color: #989a9e;
  padding-top: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  font-weight: 600;
}

.sub-title > p {
  margin: 0;
  font-weight: 600;
}

.w-space {
  width: 5%;
}

.border-itens {
  border-right: 1px solid #d7e5ff;
}

.border-itens-2 {
  border-left: 1px solid #d7e5ff;
}

.print-itens > img {
  width: 30px;
  height: 30px;
  float: right;
}

.p-select {
  margin-bottom: 6px;
  margin-top: -16px;
}

span.current {
  font-weight: 600 !important;
}

.nice-select {
  border: 1px solid #D6D6D6 !important;
  -webkit-transition: 0.6s all !important;
  transition: 0.6s all !important;
  margin-bottom: 10px !important;
}

.nice-select:hover {
  border-color: #dbdbdb;
}

.nice-select:active, .nice-select.open, .nice-select:focus, .nice-select:visited {
  border-color: #999;
  font-weight: 600;
}

.nice-select:after {
  border-bottom: 2px solid  #D6D6D6 !important;
  border-right: 2px solid  #D6D6D6 !important;
  height: 10px !important;
  margin-top: -8px !important;
  right: 12px !important;
  -webkit-transition: 0.6s all !important;
  transition: 0.6s all !important;
  width: 10px !important;
}

.nice-select .option {
  min-height: 6px !important;
}

td > .toggle {
  width: 70px !important;
}

.toggle-off, .toggle-off:hover {
  background: #cc092f;
  color: #fff;
}

.toggle-off, .toggle-on {
  font-size: 12px;
  padding-top: 7px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  font-weight: 500;
  color: #212e4b;
  background-color: #f9f7f7;
}

.nav-tabs .nav-link {
  color: #989a9e;
}

.consulta-negociacao {
  background: #fff;
  padding: 25px 2px 0 2px;
}

.consulta-negociacao > div > p > span {
  font-weight: 600;
}

.tab-pane {
  position: relative;
  top: -20px;
}

.tab-pane > section {
  padding: 20px;
  border-radius: 10px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-perspective: 1500px;
          perspective: 1500px;
}

.content {
  width: 100%;
  padding: 5px 20px 50px 20px;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.bg-blank {
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.17);
}

.title-page {
  border-left: 2px solid #cc092f;
  -webkit-border-left: 2px solid #cc092f;
  -moz-border-left: 2px solid #cc092f;
  padding-left: 10px;
  height: 23px;
}

.title-page > h1 {
  font-size: 22px;
}

.box-item {
  padding: 10px;
  border: 1px solid #989a9e;
  border-radius: 5px;
}

.box-item > p {
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
}

.user .btn-group .dropdown-menu {
  padding: 0;
}

.user .btn-group .dropdown-menu .dropdown-item {
  cursor: pointer;
}

.user .btn-group .dropdown-menu .dropdown-item:first-child {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: #cc092f;
}

.user .btn-group button > p {
  font-weight: 600;
  color: #212e4b;
  margin: 0;
  padding: 19px 15px 0 0;
}

.user .btn-group button > img {
  max-width: 63px;
  float: left;
  border: 1px solid #afc4db;
  border-radius: 100%;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
}

.user .btn-group:hover button > img {
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
  border: 1px solid #2e3e61;
  border-radius: 100%;
}

.user .btn-group button .options {
  float: left;
  margin: 20px 0 0 10px;
}

.user .btn-group button .options span {
  background: #D7D9DA;
  width: 5px;
  height: 5px;
  margin-top: 3px;
  display: block;
  border-radius: 100px;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
}

.user .btn-group:hover button .options span {
  background: #212e4b;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
}

.msg > a {
  padding-right: 12px !important;
}

.quant-msg {
  background: #11C25D;
  border-radius: 100px;
  height: 30px;
  width: 30px;
  float: right;
  text-align: center;
  padding: 2px;
}

.mensagem {
  width: 100%;
}

.btn-sidebar {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none !important;
  border: none;
}

#sidebar {
  z-index: 999;
  min-width: 300px;
  max-width: 300px;
  background: #2e3e61;
  color: #fff;
  -webkit-transition: all 0.6s cubic-bezier(0.945, 0.02, 0.27, 0.665);
  transition: all 0.6s cubic-bezier(0.945, 0.02, 0.27, 0.665);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

#sidebar.active {
  margin-left: -300px;
}

#sidebar ul li > .subs .active {
  border-left: 5px solid #cc092f;
  -webkit-border-left: 5px solid #cc092f;
  -moz-border-left: 5px solid #cc092f;
}

#configuracoes-submenu {
  border-top: 2px solid #212e4b;
}

#sidebar ul li > .subs .active:nth-child(1) {
  border-top: 2px solid #212e4b;
  -webkit-border-top: 2px solid #212e4b;
  -moz-border-top: 2px solid #212e4b;
}

#sidebar ul li > .subs .active a i, #sidebar ul li > .subs .active a span {
  color: #fff;
}

#sidebar ul li > .subs li:last-child {
  border-bottom: 2px solid #212e4b;
}

#sidebar ul li > .subs li a {
  height: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sidebar ul li > .subs li:hover {
  border-left: 5px solid #cc092f;
  -webkit-border-left: 5px solid #cc092f;
  -moz-border-left: 5px solid #cc092f;
}

#sidebar ul li > .subs li.active:hover a {
  padding: 1em 2.5em 1em 1.5em;
}

#sidebar .sidebar-header {
  padding: 28px;
  background: #212e4b;
}

#sidebar .sidebar-header h1 {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
}

span.item-menu {
  position: relative;
  color: #afc4db;
}

#sidebar ul li a {
  width: 100%;
  font-size: 15px;
  display: block;
  padding: 1em 2.5em 1em 1.5em;
  font-weight: 500;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background: transparent;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: none;
  margin-left: 0;
  vertical-align: .0;
  content: "";
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
}

.seta-accordion {
  position: absolute;
  right: 7px;
  background: url(../img/seta-menu.svg);
  width: 30px;
  height: 21px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
}

ul.list-unstyled li a[aria-expanded="true"] .seta-accordion {
  position: absolute;
  right: 7px;
  background: url(../img/seta-menu.svg);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 30px;
  height: 21px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
}

ul.list-unstyled ul a {
  background: #212e4b;
}

#sidebarCollapse {
  width: 40px;
  height: 40px;
  background: #f5f5f5;
  cursor: pointer;
}

#sidebarCollapse span {
  height: 2px;
  margin: 0 auto;
  display: block;
  background: #AEBCD2;
  -webkit-transition: all 0.8s cubic-bezier(0.81, -0.33, 0.345, 1.375);
  transition: all 0.8s cubic-bezier(0.81, -0.33, 0.345, 1.375);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
  -webkit-transform: rotate(45deg) translate(2px, 2px);
          transform: rotate(45deg) translate(2px, 2px);
}

#sidebarCollapse span:nth-of-type(2) {
  opacity: 0;
}

#sidebarCollapse span:last-of-type {
  -webkit-transform: rotate(-45deg) translate(1px, -1px);
          transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
  margin: 5px auto;
}

.subs li a i {
  width: 35px;
  font-size: 30px;
  color: #d7e5ff;
}

.subs li a span {
  font-size: 18px;
  color: #d7e5ff;
}

.subs li:hover a i, .subs li:hover a span {
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
  color: #fff;
}

i.referenciados {
  background: url(../img/referenciados.svg);
  width: 35px;
  height: 35px;
}

.subs li:hover a i.referenciados {
  background: url(../img/referenciados-hover.svg);
  width: 35px;
  height: 35px;
}

.subs li.active a i.referenciados {
  background: url(../img/referenciados-hover.svg);
  width: 35px;
  height: 35px;
}

i.unidade-de-medida {
  background: url(../img/unidade-de-medida.svg);
  width: 35px;
  height: 35px;
}

.subs li:hover a i.unidade-de-medida {
  background: url(../img/unidade-de-medida-hover.svg);
  width: 35px;
  height: 35px;
}

.subs li.active a i.unidade-de-medida {
  background: url(../img/unidade-de-medida-hover.svg);
  width: 35px;
  height: 35px;
}

i.usuarios {
  background: url(../img/usuarios.svg);
  width: 35px;
  height: 20px;
}

.subs li:hover a i.usuarios {
  background: url(../img/usuarios-hover.svg);
  width: 35px;
  height: 20px;
}

.subs li.active a i.usuarios {
  background: url(../img/usuarios-hover.svg);
  width: 35px;
  height: 20px;
}

i.telas {
  background: url(../img/telas.svg);
  width: 35px;
  height: 35px;
}

.subs li:hover a i.telas {
  background: url(../img/telas-hover.svg);
  width: 35px;
  height: 35px;
}

.subs li.active a i.telas {
  background: url(../img/telas-hover.svg);
  width: 35px;
  height: 35px;
}

.footer-version {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 14px;
  color: #989a9e;
}

.footer-version > p {
  margin: 0;
}

li ul.list-subs li a {
  background: #2e3e61;
  color: #d7e5ff;
}

li ul.list-subs li a::before {
  content: '-';
  padding-right: 10px;
}

li ul.list-subs li:hover {
  border-left: none !important;
  -webkit-border-left: none !important;
  -moz-border-left: none !important;
  color: #fff;
}

li.sub-active > a {
  color: #FFBC00 !important;
}

textarea.form-control {
  border: 1px solid #D6D6D6;
  color: #989a9e;
}

textarea.form-control:focus {
  border: 1px solid #BABABA !important;
  color: #989a9e;
}

textarea.form-control:focus {
  border: 3px solid #D6D6D6;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
}

.form {
  position: relative;
  margin: 19px 0 0 0;
}

.obrigatorio {
  color: #cc092f;
  font-weight: 600;
  margin-right: 5px;
}

input {
  font-size: 16px;
  padding: 5px;
  -webkit-appearance: none;
  display: block;
  color: #989a9e;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #D6D6D6;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
  background: transparent;
}

input:focus {
  outline: none;
  border-bottom: 2px solid #BABABA;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
}

label {
  color: #989a9e;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  top: 10px;
  left: 0;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
  font-weight: 300;
}

label.observacoes, label.just-reanalise {
  top: -30px;
  left: 17px;
}

input:focus ~ label, input.used ~ label {
  top: -20px;
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
  color: #989a9e;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
  font-size: 16px;
}

input:disabled {
  background: transparent !important;
  padding: 0 !important;
  position: relative !important;
  top: 10px !important;
}

input:focus ~ label.radio-estilo, input.used ~ label.radio-estilo {
  top: 10px !important;
  -webkit-transform: none !important;
          transform: none !important;
  left: 0 !important;
  padding-left: 27px !important;
  font-size: 16px !important;
  color: #989a9e !important;
  font-weight: normal !important;
  display: inline-block !important;
  position: relative !important;
}

.ex-radio label {
  padding-left: 27px;
  font-size: 16px;
  color: #989a9e;
  font-weight: normal;
  display: inline-block;
  position: relative;
}

.ex-radio input[type=radio].used {
  margin: 0;
  opacity: 0;
  cursor: pointer;
  width: 16px;
  height: 16px;
  z-index: 10;
  position: absolute;
  bottom: 0 !important;
}

.ex-radio input[type=radio] {
  margin: 0;
  opacity: 0;
  cursor: pointer;
  width: 16px;
  height: 16px;
  z-index: 10;
  position: absolute;
  bottom: 8px !important;
}

.ex-radio input[type=radio] + label::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 4px;
  border: 1px solid #D6D6D6;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.3s ease-in-out;
  transition: border 0.3s ease-in-out;
}

.ex-radio input[type=radio]:hover + label::before {
  border: 2px solid #212e4b;
}

.ex-radio input[type=radio]:focus + label::before {
  -webkit-box-shadow: 0 0 1px #212e4b;
          box-shadow: 0 0 1px #212e4b;
  outline: none;
}

.ex-radio input[type=radio]:checked + label::before,
.ex-radio input[type=radio]:checked:hover + label::before {
  border: 1px solid #212e4b;
}

.ex-radio input[type=radio] + label::after {
  position: absolute;
  content: " ";
  width: 10px;
  height: 10px;
  left: 3px;
  top: 7px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.ex-radio input[type=radio]:checked + label::after {
  background-color: #212e4b;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.ex-radio input[type="radio"]:disabled {
  cursor: not-allowed;
}

.ex-radio input[type="radio"]:disabled + label {
  color: #212e4b;
  cursor: not-allowed;
}

.ex-radio input[type=radio]:disabled + label::before,
.ex-radio input[type=radio]:checked:disabled + label::before {
  border: 1px solid #212e4b;
}

.ex-radio input[type=radio]:checked:disabled + label::after {
  background-color: #212e4b;
}

.radio-title {
  margin-top: -7px;
}

.radio-title > h6 {
  font-family: 'Open Sans', sans-serif !important;
  color: #989a9e;
  font-weight: 300;
}

input:focus ~ label.check-estilo, input.used ~ label.check-estilo {
  top: 10px !important;
  -webkit-transform: none !important;
          transform: none !important;
  left: 0 !important;
  padding-left: 27px !important;
  font-size: 16px !important;
  color: #989a9e !important;
  font-weight: normal !important;
  display: inline-block !important;
  position: relative !important;
}

.ex-checkbox {
  position: relative;
  margin: 12px 0;
  font-size: 14px;
}

.ex-checkbox label {
  padding-left: 32px;
  line-height: 140%;
  font-weight: normal;
  display: inline-block;
  position: relative;
}

.ex-checkbox input[type=checkbox] {
  margin: 0;
  opacity: 0;
  cursor: pointer;
  width: 20px;
  height: 20px;
  z-index: 10;
  position: absolute;
}

.ex-checkbox input[type=checkbox] + label::before {
  border: 1px solid #9f9f9f;
  width: 20px;
  height: 20px;
  content: '';
  position: absolute;
  left: 0;
  background-color: #fff;
  top: -17px;
}

.ex-checkbox input[type=checkbox]:hover + label::before {
  border: 2px solid #0e81ed;
}

.ex-checkbox input[type=checkbox]:focus + label::before {
  -webkit-box-shadow: 0 0 1px #0e81ed;
          box-shadow: 0 0 1px #0e81ed;
  outline: none;
}

.ex-checkbox input[type=checkbox]:checked + label::before {
  border: 1px solid #d6d7d8;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ij48cGF0aCBmaWxsPSIjMDI4OGQxIiBkPSJNMTguOSA4LjhsLTguNyA4LjdjLS4xLjEtLjIuMS0uMyAwbC00LjktNC45Yy0uMS0uMS0uMS0uMiAwLS4zbDEuMi0xLjJjLjEtLjEuMi0uMS4zIDBsMy42IDMuNiA3LjMtNy4zYy4xLS4xLjItLjEuMyAwbDEuMiAxLjJjLjEgMCAuMS4xIDAgLjJ6IiAvPjwvc3ZnPg==") no-repeat center center;
  background-size: 24px 24px;
}

.ex-checkbox input[type=checkbox]:checked:hover + label::before {
  background-size: 30px 30px;
}

.ex-checkbox input[type=checkbox]:disabled {
  cursor: not-allowed;
}

.ex-checkbox input[type=checkbox]:disabled + label {
  color: #bcbcbc;
  cursor: not-allowed;
}

.ex-checkbox input[type=checkbox]:disabled:checked + label::before {
  border: 1px solid transparent;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ij48cGF0aCBmaWxsPSIjYmNiY2JjIiBkPSJNMTguOSA4LjhsLTguNyA4LjdjLS4xLjEtLjIuMS0uMyAwbC00LjktNC45Yy0uMS0uMS0uMS0uMiAwLS4zbDEuMi0xLjJjLjEtLjEuMi0uMS4zIDBsMy42IDMuNiA3LjMtNy4zYy4xLS4xLjItLjEuMyAwbDEuMiAxLjJjLjEgMCAuMS4xIDAgLjJ6IiAvPjwvc3ZnPg==") no-repeat center center;
}

.ex-checkbox input[type=checkbox]:disabled + label::before {
  border: 1px solid #bcbcbc;
}

.datetimepicker {
  cursor: pointer;
}

.datetimepicker table tr td span {
  display: block;
  width: 23%;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 1%;
  cursor: pointer;
  border-radius: 4px;
}

.datetimepicker table tr td span.active:active, .datetimepicker table tr td span.active.nice-select.open, .datetimepicker table tr td span.active:hover:active, .datetimepicker table tr td span.active.nice-select.open:hover, .datetimepicker table tr td span.active.disabled:active, .datetimepicker table tr td span.active.disabled.nice-select.open, .datetimepicker table tr td span.active.disabled:hover:active, .datetimepicker table tr td span.active.disabled.nice-select.open:hover, .datetimepicker table tr td span.active.active, .datetimepicker table tr td span.active:hover.active, .datetimepicker table tr td span.active.disabled.active, .datetimepicker table tr td span.active.disabled:hover.active {
  background: #212e4b;
  color: #fff;
}

.datetimepicker {
  font-size: 14px;
  padding: 0;
}

.datetimepicker table {
  margin: 0;
  width: 252px;
}

.datetimepicker th {
  border: 0 !important;
  border-radius: 0 !important;
  width: 30px !important;
  height: 20px !important;
  font-size: 16px;
}

.datetimepicker td, .datetimepicker th {
  text-align: center;
  width: 38px !important;
  height: 20px !important;
  border-radius: 0 !important;
  border: 0 !important;
}

table.table-condensed thead tr:first-child {
  border: 0;
  border-bottom: 1px solid #e8e9ec;
  height: 50px;
}

table.table-condensed thead tr:first-child {
  background: transparent;
}

table.table-condensed thead tr:last-child th {
  color: #212e4b;
  font-weight: 400;
}

table.table-condensed thead tr th.switch {
  color: #212e4b;
  font-weight: 400;
}

.datetimepicker table tr td span.active.active {
  background: #212e4b !important;
}

.dropdown-menu {
  padding: 0 !important;
}

table.table-condensed thead tr:hover th.switch {
  background: transparent;
}

table.table-condensed thead tr:hover th.prev {
  background: transparent;
}

table.table-condensed thead tr:hover th.next {
  background: transparent;
}

table.table-condensed tbody tr td.day.active {
  background: #212e4b;
  color: #fff;
}

.datetimepicker th span.glyphicon-arrow-left {
  background: url(../img/glyphicon-arrow-left.svg) right center no-repeat;
  height: 24px;
  display: block;
}

.datetimepicker th span.glyphicon-arrow-right {
  background: url(../img/glyphicon-arrow-right.svg) left center no-repeat;
  height: 24px;
  display: block;
}

[class*=" datetimepicker-dropdown"]:after {
  border-bottom: 6px solid #e9e5e3;
}

#box-lista-subs {
  padding: 20px 30px 30px 30px;
  background: #f9f7f7;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

#box-lista-subs > hr {
  margin: 10px;
  border: 1px solid #fff;
}

#box-lista-subs > a {
  font-size: 14px;
}

#box-lista-subs > p {
  color: #212e4b;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
}

#box-lista-subs > div > div > div > p {
  color: #212e4b;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
}

#box-lista-subs > .title-listas > div > div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h6.title-lista {
  color: #cc092f;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 7px;
}

.i-detalhes, .i-excluir, .i-editar, .i-historico {
  width: 37px;
  height: 37px;
}

.i-result {
  width: 100px;
}

.i-add, .i-add-lista, .i-busca-lista, .i-close-lista {
  width: 30px;
  height: 30px;
}

.b-lista {
  margin: 17px 0;
}

.resultado-filtro > h4, .resultado-filtro-todos > h4 {
  font-size: 16px;
  margin-top: 8px;
}

.resultado-filtro > h4 > span {
  color: #fff;
  font-size: 14px;
  padding: 2px 9px;
  background-color: #cc092f;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  margin-left: 10px;
}

.resultado-filtro-todos > h4 > span {
  color: #fff;
  font-size: 14px;
  padding: 6px 5px;
  background-color: #989a9e;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  margin-left: 10px;
}

.resultado-filtro-todos > a > img, .resultado-filtro > a > img {
  width: 30px;
  height: 30px;
}

h4.sem-resultado {
  padding-top: 35px !important;
}

.bg-table {
  background: #F5F5F9;
  padding: 10px 25px 25px 25px;
}

table {
  background-color: none;
}

.table {
  margin-bottom: 0;
  background: none;
  padding: 0 15px 15px 15px;
}

.larg-actions {
  display: inline-block;
  width: 100px;
}

.table-responsive {
  background: #fff;
  padding: 24px;
  border-radius: 5px;
  overflow: auto !important;
}

.table > thead > tr > th {
  text-transform: uppercase;
  font-weight: 700;
  color: #2e3e61;
  font-size: 11px;
  background: #fff;
  border: none;
  padding: 15px;
}

.table > tbody > tr.separator {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent;
}

.table > tbody > tr {
  background: #F6F7FB;
}

.table > tbody > tr > td {
  padding: 13px;
  font-weight: 500;
  color: #989a9e;
  font-size: 12px;
  background: transparent;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  text-transform: uppercase;
}

.table > tbody > tr:hover > td {
  border-top: 2px solid #E60F35;
  border-bottom: 2px solid #E60F35;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
}

.table > tbody > tr > td:first-child {
  border-left: 2px solid #fff;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-top-left: 5px;
  -moz-border-radius-bottom-left: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-top-right: 0px;
  -moz-border-radius-bottom-right: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 5%;
}

.table > tbody > tr > td:last-child {
  border-right: 2px solid #fff;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.table > tbody > tr:hover > td:first-child {
  border-color: #E60F35;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-top-left: 5px;
  -moz-border-radius-bottom-left: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-top-right: 0px;
  -moz-border-radius-bottom-right: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.table > tbody > tr:hover > td:last-child {
  border-color: #E60F35;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.table > tbody > tr.separator > td {
  padding: 8px;
  background: none;
  border: none;
}

.table > tbody > tr.separator {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.t-3 tbody tr > td:nth-child(2), .t-3 tbody tr > td:nth-child(3) {
  width: 15%;
}

.t-2 tbody tr > td:nth-child(1) {
  width: 5% !important;
}

.t-2 tbody tr > td:nth-child(2) {
  width: 15%;
}

.t-2 tbody tr > td:nth-child(3) {
  width: 80%;
}

.t-4 tbody tr > td:nth-child(1) {
  width: 5% !important;
}

.t-4 tbody tr > td:nth-child(2) {
  width: 15%;
}

.t-4 tbody tr > td:nth-child(3) {
  width: 80%;
}

.t-contato tbody tr > td:nth-child(1) {
  width: 5% !important;
}

.t-contato tbody tr > td:nth-child(2) {
  width: 15%;
}

.t-contato tbody tr > td:nth-child(3) {
  width: 80%;
}

.t-contato-2 tbody tr > td:nth-child(1) {
  width: 5% !important;
}

.t-contato-2 tbody tr > td:nth-child(2) {
  width: 15%;
}

.t-contato-2 tbody tr > td:nth-child(3) {
  width: 80%;
}

.header-table {
  border: 1px solid #ececf1;
  background: #fff;
  padding: 20px 40px 20px 8px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-top: 40px;
}

.bg-table.with-header {
  margin-top: 0;
}

.header-table img, .header-table img + div {
  float: left;
}

.header-table img {
  margin-right: 10px;
}

.header-table span {
  color: #717073;
}

.header-table span:last-child {
  font-size: 14px;
  font-weight: 600;
}

.header-table li {
  display: inline-block;
  padding: 0 30px;
  border-right: 1px solid #ececf1;
}

.header-table li:last-child {
  border: none;
}

.por-8 {
  width: 8% !important;
}

.por-10 {
  width: 10% !important;
}

.por-15 {
  width: 15% !important;
}

.por-20 {
  width: 20% !important;
}

.por-30 {
  width: 30% !important;
}

.por-40 {
  width: 40% !important;
}

.pagination .icon {
  font-size: 11px;
  margin: -4px;
  font-weight: 600;
}

.pagination {
  list-style: none;
  display: block;
  margin: 40px auto;
  text-align: center;
  position: relative;
}

.pagination li {
  display: inline-block;
  text-align: center;
  width: 50px;
  position: relative;
}

.pagination li a {
  margin-left: 12px;
  padding: 7px 13px;
  line-height: 27px;
  border-radius: 100%;
  background: none;
  color: #989a9e;
  border: 1px solid #989a9e;
  font-weight: 600;
  font-size: 12px;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
}

.pagination a.active, .pagination a:hover {
  cursor: pointer;
  color: #fff !important;
  background: #989a9e !important;
  border-color: #989a9e !important;
  text-decoration: none;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
}

.pagination li a.prev, li a.next {
  position: relative;
  padding: 6px 14px;
}

.pagination li a.prev i.icon-seta-esquerda-a {
  position: relative;
  left: -1px;
}

.pagination li a.prev i.icon-seta-dupla-b {
  position: relative;
  left: -1px;
}

.pagination li a.next i.icon-seta-direita-a {
  position: relative;
  right: -1px;
}

.pagination li a.next i.icon-seta-dupla-direita-b {
  position: relative;
  right: -1px;
}

.top-10 {
  top: 10px !important;
}

.menu-visible .circle {
  border-radius: 100px;
  background: #AFB7C3;
  height: 4px;
  width: 4px;
  display: inline-block;
}

table td.actions:last-child {
  width: 5%;
}

td.actions .float-right {
  position: relative;
  margin-right: 25px;
}

td.actions .menu-visible {
  position: absolute;
  top: 0;
  left: 50%;
  opacity: 1;
  display: inline-block;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  width: 20px;
  margin-left: -10px;
}

td.ac-2 {
  width: 7% !important;
}

tr:hover td.ac-2 .menu-invisible {
  left: -45px !important;
  width: 80px !important;
}

tr td.ac-2 .menu-invisible {
  left: -60px !important;
  width: 80px !important;
}

tr:hover td.ac-3 {
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
  width: 10% !important;
  top: 2px !important;
}

tr:hover td.ac-3 .menu-invisible {
  left: -85px !important;
  width: 120px !important;
  top: 2px !important;
}

tr td.ac-3 .menu-invisible {
  left: -100px !important;
  width: 120px !important;
}

.table-responsive table tbody tr:hover td.ac-3 {
  padding-left: 60px !important;
}

td.actions .menu-invisible {
  position: absolute;
  top: -8px;
  left: -47px;
  opacity: 0;
  display: inline-block;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
}

td.actions .menu-invisible a {
  margin-right: 0;
}

tr:hover td.actions .menu-visible {
  opacity: 0;
}

tr:hover td.actions .menu-invisible {
  top: -8px;
  left: -25px;
  opacity: 1;
}

tr:hover td.a-2 .menu-invisible {
  top: -8px;
  left: -44px;
  opacity: 1;
}

.no-hover .table > tbody > tr:hover > td {
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.no-hover .actions .menu, .no-hover .actions .menu-invisible {
  display: none;
}

.no-hover .table > tbody > tr > td:first-child {
  border-left: 2px solid #fff;
}

.no-hover .table > tbody > tr > td:last-child {
  border-right: 2px solid #fff;
}

.no-hover .table > tbody > tr.separator > td {
  border: none;
}

@media (min-width: 993px) and (max-width: 1444px) {
  .content {
    width: 100%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .table-responsive table tbody tr:hover td.actions {
    padding-left: 52px;
  }
  .table-responsive table tbody tr:hover td.ac-3 {
    padding-left: 92px !important;
  }
}

@media (max-width: 992px) {
  #sidebar {
    margin-left: -300px;
  }
  #sidebar.active {
    margin-left: 0;
    -webkit-transform: none;
            transform: none;
  }
  #sidebarCollapse span:first-of-type,
  #sidebarCollapse span:nth-of-type(2),
  #sidebarCollapse span:last-of-type {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
    margin: 5px auto;
  }
  #sidebarCollapse.active span {
    margin: 0 auto;
  }
  #sidebarCollapse.active span:first-of-type {
    -webkit-transform: rotate(45deg) translate(2px, 2px);
            transform: rotate(45deg) translate(2px, 2px);
  }
  #sidebarCollapse.active span:nth-of-type(2) {
    opacity: 0;
  }
  #sidebarCollapse.active span:last-of-type {
    -webkit-transform: rotate(-45deg) translate(1px, -1px);
            transform: rotate(-45deg) translate(1px, -1px);
  }
  .alert-success > div > div > div > img {
    margin-bottom: 2px;
  }
  .alert-danger > div > div > div > img {
    margin-bottom: 2px;
  }
  .btn {
    text-align: center;
    float: inherit;
    display: block;
    width: 100%;
    margin: 10px 0;
  }
  .pagination li {
    width: 37px;
  }
  .table-responsive {
    padding: 0;
    overflow: auto !important;
  }
  .table > tbody > tr > td:first-child {
    width: 11%;
  }
  td.actions .menu-visible {
    left: 11px;
  }
  tr:hover td.actions .menu-invisible {
    left: -5px;
  }
  .table > tbody > tr > td:nth-child(2) {
    width: 25%;
  }
  .toggle-off, .toggle-on {
    text-align: left;
  }
  .p-select {
    margin-bottom: 6px;
    margin-top: 34px !important;
  }
  .form {
    position: relative;
    margin: 19px 0 19px 0;
  }
  .border-itens {
    border-bottom: 1px solid #d7e5ff;
    border-right: none;
  }
}
/*# sourceMappingURL=estilo.css.map */